KAFKA_BOOTSTRAP_SERVERS=localhost:9092
THREAT_INTEL_CONSUMER_GROUP=streaming-analytics-threat-intelligence
THREAT_INTEL_LOG_LEVEL=INFO
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=streaming_analytics
POSTGRES_USER=streaming_user
POSTGRES_PASSWORD=streaming_password
REDIS_HOST=localhost
REDIS_PORT=6379
ELASTICSEARCH_HOST=http://localhost:9200
DETECTION_RULES_PATH=../detections/rules
THREAT_INTEL_METRICS_PORT=9106
